/*Fichier CSS pour le portfolio*/
html, body{
    margin: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}

header{
    background-color: #24aa50;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
header a{
    color: white;
    font-weight: bold;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 20px;
}
header a:hover{
    /*box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .2);*/
    color: black;
    padding-top: 1.2%;
    padding-bottom: 1.05%;
    box-shadow:  0 0 4em #24aa50;
    
}

.en_tete{
    text-align: center;
    
}

.en_tete h1{
    font-size: 50px;
    color: #24aa50;
    text-shadow: 0px 5px 0px darkseagreen, 0 15px 1em black, 10px 15px 0.2em black;
}

#apropos,#parcours,#competences,#contact,#infos_complemetaires, footer p{
    width: 50%;
    margin-left: 25%;
}
#apropos h2,#parcours h2,#competences h2,#contact_me h2{
    text-align: center;
}


#to_presentation,#resume_downloading,#btn_envoyer{
    border-radius: 2px;
    background-color: #24aa50;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
#to_presentation:hover,#resume_downloading:hover,#btn_envoyer:hover{
    color: black;
    box-shadow:  0 0 4em #24aa50;
}



#apropos,#parcours,#competences,#contact_me,#infos_complemetaires{
    background-color: beige;
}

/*Me contacter*/
#contact_me #nom,#contact_me #mail{
    padding-left: 5%;padding-right: 5%;padding-top: 1%;padding-bottom: 1%;
}
#dialogbox{
    margin-left: 50px;
    width: 50%;
}

#dialogbox p{
    margin-bottom: 1px;
}

#contact_me h3{
    width: 30%;
}
#message{
    max-width: 353px;
    min-width: 179px;
    min-height: 139px;
    padding-left: 5%;
    margin-bottom: 10px;
}
#infos_complemetaires{
    height: 113.917px;width: 300px;padding-left: 0px;
    
    width: 50%;
 
}
#infos_complemetaires p{
    padding-left: 5%;
    width: 60%;
}

/* FIN Me contacter*/
footer{
    background-color: #24aa50;
    padding-bottom: 0.5%;
    position: static;
}

footer p{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
