/*Fichier CSS pour le portfolio*/
html, body{
    margin: 0;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}

header{
    
}
.en_tete{
    text-align: center;
}
/*<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />*/